.Pagination{
	margin: 30px 30px;
	color: black;
	float: right;
	user-select:none;
	-webkit-user-select:none;
}
.Pagination .prev{
	  width: 60px;
  height: 25px;
  display: inline-block;
  border: 1px solid #d9dadc;
  text-align: center;
  line-height: 25px;
}
.Pagination .next{
	  width: 60px;
  height: 25px;
  display: inline-block;
  border: 1px solid #d9dadc;
  text-align: center;
  line-height: 25px;
  margin-left: 10px;
}

.Pagination .num{
	  margin-right: 10px;
  font-size: 14px;
}
.Pagination .jump{
	margin-left: 10px;
}
.Pagination .jump input{
	width: 70px;
	height: 25px;
	text-align: center;
}

.Pagination .jump a{
	display: inline-block;
	width: 30px;
	height: 25px;
	border: 1px solid #4ab3f8;
	color: #4ab3f8;
	text-align: center;
	line-height: 25px;
	margin-left: 10px;
	text-decoration: none;

}
.Pagination .jump a:visited{color: #4ab3f8;}

.Pagination a{
	display: inline-block;
	width: 30px;
	height: 25px;
	border: 1px solid #d9dadc;
	text-align: center;
	line-height: 25px;
	margin-left: 10px;
	text-decoration: none;

}


.Pagination a:visited{

	color: black;
}
.Pagination a:link{

	color: black;
}

.Pagination .current{
	display: inline-block;
	width: 30px;
	height: 25px;
	border: 1px solid #4ab3f8;
	text-align: center;
	line-height: 25px;
	margin-left: 10px;
	color: #4ab3f8;
}
