<component name="ArtifactManager">
  <artifact type="war" name="springMav:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mavne Maven Webapp.war">
      <element id="artifact" artifact-name="springMav:war exploded" />
    </root>
  </artifact>
</component>